# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build
dist/
build/
*.tsbuildinfo

# Arquivos de log
logs/
*.log

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp

# Coverage
coverage/
*.lcov

# Uploads
uploads/ 
/src/generated/prisma
